.searchInput {
  width: 400px;
  height: 25px;
}

.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: 	#1e90ff;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.topbarLeft {
  flex: 3;

}

.logo {
  font-size: 30px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  font-family: Snell Roundhand, cursive;

}

.topbarCenter {
  flex: 5;

}

.topbarRight {
  flex: 4;

}

.topbarImg {
  height: 50px;
  width: 40px;
}